#managed by ansible

#############
server {
    listen       80 default_server;

    location /status.txt {
        allow all;
    	root /var/www/html/;
		expires 7h;
    }

    location / {
        return 302 status.txt;
    }


}


